
  <div  name="footer" id="footer">
  
      <h4 name="titre" id="titre" >ECHAPEE BELLE EN COLOMBIE</h4>	
      <a href="https://www.facebook.com/profile.php?id=657834578"><img name="see" id="see" src="/public/images/facebook.png" alt="facebook" class="facebook"/></a>
      <a href="https://www.instagram.com/dianarodriguez1950/"><img name="see" id="see" src="/public/images/instagram.png" alt="instagram" class="instagram"/>
      <a href="https://www.linkedin.com/in/diana-maria-rodriguez-godbille-8909334a/"><img name="see" id="see" src="/public/images/linkin.png" alt="linkin" class="linkin"/></a>
    
  
</div>

<style>

  
#footer {
  background-color: rgb(225,215,114);
  text-align: center;
 
  
}
    #titre{
        color: rgb(240,107,80);
        font-size: large;
        font-variant: inherit;
        letter-spacing: 5px;
      }
#see{
 height: 50px;
 width: 50px;

}
      </style>